@{
    ViewData["Title"] = "Home Page";
}


    
        <div class="card" style="height:400px;">
            <img src="~/images/in2.jpeg" style="height:100%; width:100%; opacity:60%; " class="card-img-overlay"/>
            <div class="card-body" >
                <h1 class="card-title" font-family:'Ink Free'" ><br />Veri-Edu</h1>
                <h2 class="card-subtitle" style="background-color:lightyellow; font-family:'Ink Free'" ><br />A new approach to Early Childhood Care</h2>
            </div>
        </div>
    


<div class="card-deck">
    <div class=" card">
        <img src="~/images/us2.jpg" class="card-img-top" style="height:100%; width:100%;" />
        <div class="card-body" style=" background-color:aliceblue">
            <h1 class="card-title" style="text-align: center;">About us</h1>
            <p class="card-text"><br />We understand that choosing the right early childhood development centre is a complex and difficult decision for parents we therefore aim to provide parents with a platform that ensures that their children are placed in registered early childhood development centres that adhere to the standards set by the government. To ensure that children are afforded a healthy, clean and safe learning environment. We also aim to create a safe and secure line of communication between early childhood centres parents and staff, it is a replacement to the information daily sheet and much more.</p>
        </div>
    </div>

    <div class="card" style=" background-color:lightpink;">
        <img src="~/images/philosophy.jpg" class="card-img-top" style="height:100%; width:100%;" />
        <div class="card-body">
            <h1 class="card-title" style="text-align: center;">Philosophy</h1>
            <p class="card-text"><br />We believe that parents play a vital role in their child&rsquo;s development, and so do early childhood development centres, thus we aim to provide a platform that enables a safe and secure line of communication between early childhood development centres, staff and parents. We also aim to ensure that children are cared for, guided towards attaining their optimal level of intellectual, cultural, and physical potential in a warm, friendly, disciplined and stimulating environment.</p>

        </div>

    </div>
</div>


<h1 style="text-align:center">What we offer:</h1>

<div class="card-group">
    <div class="card">
        <img src="~/images/parents.jpg" style="height:400px; width:400px;" />
    </div>
    
    <div class="card" style="height:100%; width:100%;">
        <div class="card-body" style="background-color:lightyellow;">
            <h2 class="card-title"><br />Parents:</h2>
            <ul class="card-text" >
                <li>ECD verification </li>
                <li>All ECD centres within a specified region and their details.</li>
                <li>Filter option to select and browse only ECD centres meeting your specific set of preferences.</li>
                <li>Online ECD centre application</li>
                <li>Tracking your childs application digitally</li>
                <li>Online ECD centre registration.</li>
                <li>Safe and secure line of communication with ECD centre.</li>
                <li>ECD centre meal plans</li>
                <li>ECD centre calendar</li>
                <li>Reminders of events</li>
            </ul>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img src="~/images/ecd.jpg" style="height:100%; width:100%;" />

    </div>

    <div class="card" style="background-color:palegoldenrod">
        <div class="card-body">
            <h2 class="card-title">ECD centre :</h2>
            <ul class="card-text">
                <li>Guidelines on registering ECD centre</li>
                <li>Platform to list and advertise your business</li>
                <li>Safe and secure line of communication with parents and staff</li>
                <li>Online application system</li>
                <li>Online registration system</li>
                <li>Easy paperless updates and notices to parents</li>
            </ul>
        </div>

    </div>
</div>

<p>&nbsp;</p>