@{
    ViewData["Title"] = "Guidelines";
}
<h1 style="text-align: center;">How to register an ECD centre</h1>
<p><span style="font-size: 20px;"><strong><u>The process of registring an ECD centre&nbsp;</u></strong></span></p>
<ul>

    <li> 1. Fill in the application forms. </li>
    <li> 2. Contact the Department of Education and Health in the area where the ECD is situated.</li>
    <li> 3. Consult with municipality to obtain the right of use as well as a health clearance certificate in order to run the ECD Centre in a specific place. </li>
    <li> 4. Contact the office of the Department of Social Development in close proximity to  the centre. </li>

</ul>


<h1 style="text-align: center;">Guidelines</h1>
<p><span style="font-size: 20px;"><strong><u>The benefits of registering an ECD Centre&nbsp;</u></strong></span></p>

<ul>

    <li>The ECD Centre is able to benefit from free capacity building and other programmes offered by the Department of Social Development.</li>

    <li>The Centre could qualify for a subsidy if found eligible.</li>

    <li>Once the ECD Centre is registered, &nbsp;ECD practitioners will be able to teach in a secure environment.</li>

</ul>

<p><br></p>

<p><span style="font-size: 20px;"><strong><u>What happens when an ECD Centre is not registered?</u></strong></span></p>

<ul>

    <li><span style="font-size: 16px;">The Children&apos;s Act is extremely important. Failure to register an ECD Centre could result in the Centre operating illegally which would violate this Act.</span></li>

</ul>

<h1 style="text-align: center;">Government offices</h1>
<p><span style="font-size: 20px;"><strong><u>Department of Social development Contact details&nbsp;</u></strong></span></p>

<ul>

    <li>
        Tel : 021 483 5045

        Fax : 021 483 4783

        Web : www.westerncape.gov.za/dept/social-development
    </li>

    <li>
        Union House
        14 Queen Victoria Street
        Cape Town
        8001
    </li>

    <li>
        Private Bag x9112
        Cape Town
        8000
    </li>

</ul>